//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW1NR-UV9QN88C6/I5
//Device: GW1NR-9
//Created Time: Mon 07 18 16:31:07 2022

IO_LOC "debug_led" 3;
IO_PORT "debug_led" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_le_o" 20;
IO_PORT "delay2_le_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_le_o" 47;
IO_PORT "delay1_le_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[9]" 68;
IO_PORT "delay2_code_o[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[8]" 69;
IO_PORT "delay2_code_o[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[7]" 70;
IO_PORT "delay2_code_o[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[6]" 71;
IO_PORT "delay2_code_o[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[5]" 72;
IO_PORT "delay2_code_o[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[4]" 73;
IO_PORT "delay2_code_o[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[3]" 74;
IO_PORT "delay2_code_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[2]" 75;
IO_PORT "delay2_code_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[1]" 76;
IO_PORT "delay2_code_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay2_code_o[0]" 77;
IO_PORT "delay2_code_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[9]" 48;
IO_PORT "delay1_code_o[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[8]" 49;
IO_PORT "delay1_code_o[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[7]" 50;
IO_PORT "delay1_code_o[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[6]" 51;
IO_PORT "delay1_code_o[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[5]" 52;
IO_PORT "delay1_code_o[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[4]" 53;
IO_PORT "delay1_code_o[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[3]" 54;
IO_PORT "delay1_code_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[2]" 55;
IO_PORT "delay1_code_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[1]" 56;
IO_PORT "delay1_code_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "delay1_code_o[0]" 57;
IO_PORT "delay1_code_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "dac2_sdi_o" 14;
IO_PORT "dac2_sdi_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "dac1_sdi_o" 17;
IO_PORT "dac1_sdi_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "dac2_sclk_o" 15;
IO_PORT "dac2_sclk_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "dac1_sclk_o" 18;
IO_PORT "dac1_sclk_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "dac2_sync_o" 16;
IO_PORT "dac2_sync_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "dac1_sync_o" 19;
IO_PORT "dac1_sync_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "debug_uart_rx" 85;
IO_PORT "debug_uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "debug_uart_tx" 86;
IO_PORT "debug_uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "uart1_tx" 83;
IO_PORT "uart1_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "node_clk_i" 11;
IO_PORT "node_clk_i" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8;
IO_LOC "uart1_rx" 84;
IO_PORT "uart1_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "rst_i" 80;
IO_PORT "rst_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "delay2_stb_n_o" 33,34;
IO_PORT "delay2_stb_n_o" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "delay1_stb_n_o" 41,42;
IO_PORT "delay1_stb_n_o" PULL_MODE=NONE DRIVE=3.5;
IO_LOC "cmp2_out_p_i" 28,27;
IO_PORT "cmp2_out_p_i" PULL_MODE=NONE;
IO_LOC "cmp1_out_p_i" 39,40;
IO_PORT "cmp1_out_p_i" PULL_MODE=NONE;
IO_LOC "clk_p_i" 25,26;
IO_PORT "clk_p_i" PULL_MODE=NONE;
